body {
    position: relative;
    min-height: 100vh;
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    margin: 0 0;
    height: 100%
  }
